#playbutt {
  font-family: 'Aldrich', sans-serif;
  font-size: 100px;
  top: 40%;
  position: absolute;
  letter-spacing: 0.5;
  left: 41%;
  background-color: white;
}
#agariotitle {
font-family: 'Aldrich', sans-serif;
  font-size: 150px;
  position: absolute;
  letter-spacing: 0.5;
  width: 100%;
  text-align: center;
  background-color:white;
  overflow: hidden;

}
#howtoplaytitle {
 font-family: 'Aldrich', sans-serif;
  font-size: 80px;
  position: absolute;
  left: 33%;
  top: 4%;
 
}
#actualrules{
 font-family: 'Aldrich', sans-serif;
  font-size: 30px;
  position: absolute;
  left: 14%;
  top: 25%;
  text-align: center;
}
#realplaybutt {
  font-family: 'Aldrich', sans-serif;
  font-size: 89px;
  top: 70%;
  position: absolute;
  letter-spacing: 0.5;
  left: 41%;
  background-color: white;
}
@keyframes levelnameDisappear {
  100% {
  opacity:0;
  visibility:hidden;
  }
}
#level1title {
  font-family: 'Aldrich', sans-serif;
  font-size: 60px;
  top: 30%;
  left: 44%;
  text-align: center;
  position: absolute;
  opacity: 1;
  animation-name: levelnameDisappear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  background-color: white;
}
#level2title {
  font-family: 'Aldrich', sans-serif;
  font-size: 60px;
  top: 30%;
  left: 20%;
  text-align: center;
  position: absolute;
  opacity: 1;
  animation-name: levelnameDisappear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  background-color: white;

}
#nextlevel2butt {
  font-family: 'Aldrich', sans-serif;
  font-size: 60px;
 text-align: center;
  position: absolute;
  background-color: white;
  left: 20%
}
#nextlevel3butt {
  font-family: 'Aldrich', sans-serif;
  font-size: 60px;
 text-align: center;
  position: absolute;
  background-color: white;
  left: 20%
}
#scoreboardtit {
  font-family: 'Aldrich', sans-serif;
  font-size: 40px;
  position: absolute;
  background-color: white;
  border-color: black;
  border-style: solid;
  font-weight: bold;
  top: 4%;
  width: 17%;
  left: 80%;
  text-align: center;
 
}
@keyframes appearAlert {
  0%{
    opacity: 0;
  }
  100% {
   opacity: 1;
  }
}

#alertinvader {
  background-color: white;
  width: 30%;
  height: 18%;
  top: 30%;
  left: 35%; 
  position: absolute;
  font-family: 'Aldrich', sans-serif;
  border-style: solid;
  border-color: black;
  text-align: center;
  animation-name: appearAlert;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  opacity: 0;
  cursor: pointer;
}
#closebutton {
  left: 75%;
  color: black;
  font-size: 20px;
  line-height: 50px;
  cursor: pointer;
  transition: 0.3s;
}
#closebutton:hover {
  color: black;
  font-weight: bold;
}
#level2againbutt {
  font-family: 'Aldrich', sans-serif;
  font-size: 60px;
 text-align: center;
  position: absolute;
  background-color: white;
  left: 20%
}
#timerboardtit {
  font-family: 'Aldrich', sans-serif;
  font-size: 40px;
  position: absolute;
  background-color: white;
  border-color: black;
  border-style: solid;
  font-weight: bold;
  top: 10%;
  width: 17%;
  left: 80%;
  text-align: center 
}
#gotolevel3butt {
  font-family: 'Aldrich', sans-serif;
  font-size: 89px;
  top: 70%;
  position: absolute;
  letter-spacing: 0.5;
  left: 41%;
  background-color: white;
}
#level3title {
  font-family: 'Aldrich', sans-serif;
  font-size: 60px;
  top: 30%;
  left: 20%;
  text-align: center;
  position: absolute;
  opacity: 1;
  animation-name: levelnameDisappear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  color: white;
}
#level3againbutt {
  font-family: 'Aldrich', sans-serif;
  font-size: 60px;
 text-align: center;
  position: absolute;
  background-color: white;
  left: 20%;
}

#howto3instruct {
  font-family: 'Aldrich', sans-serif;
   font-size: 70px;
   position: absolute;
   text-align: center;
   left: 24%;
   top: 4%;
   width: 60%;
  
 }
 #level3instruct{
  font-family: 'Aldrich', sans-serif;
   font-size: 30px;
   position: absolute;
   left: 13%;
   top: 27%;
   width: 80%;
   text-align: center;
 }
 #tolevel3butt {
  font-family: 'Aldrich', sans-serif;
  font-size: 70px;
  top: 70%;
  position: absolute;
  letter-spacing: 0.5;
  left: 34%;
 background-color: white;
}
#backhomebutt {
  font-family: 'Aldrich', sans-serif;
  font-size: 60px;
 text-align: center;
  position: absolute;
  background-color: white;
  left: 20%;
}
#scoreboardtit2 {
  font-family: 'Aldrich', sans-serif;
  font-size: 20px;
  position: absolute;
  background-color: white;
  border-color: black;
  border-style: solid;
  font-weight: bold;
  top: 4%;
  width: 11%;
  left: 88%;
  text-align: center;
 
}